@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
a:hover{
	text-decoration: none !important;
}
a {
    cursor: pointer;
}
input.ng-invalid.ng-touched,
input:focus.ng-invalid.ng-dirty,
select.ng-invalid.ng-touched,
select:focus.ng-invalid.ng-dirty {
	border: 1px solid red;
}
button:disabled.btn.btn-success {
    cursor: not-allowed;
}
.redItalic {
	color: red;
    font-style: italic;
}
.toggle-children-wrapper,.toggle-children-placeholder {
    display: none;   
}
.remove-padding {
  padding: 0rem 0rem;
  color: inherit;
}

/*Mat Snack Bar*/
snack-bar-container.mat-snack-bar-container.error.mat-snack-bar-center {
    background: red;
}
snack-bar-container.mat-snack-bar-container.success.mat-snack-bar-center {
  background: green;
}
snack-bar-container.mat-snack-bar-container.info.mat-snack-bar-center {
  background: blue;
}
snack-bar-container.mat-snack-bar-container.warning.mat-snack-bar-center {
  background: yellowgreen;
}
